body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a1a1a;
    font-family: Arial, Helvetica, sans-serif;
}

.calculadora{
    background-color: #3e3d3d;
    color: rgb(255, 255, 255);
    width: 350px;
    max-width: 100%;
    padding: 2rem;
    border-radius: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    box-shadow: 0 0 20px  #020000;
}

.pantalla{
    grid-column: 1 / 5;
    background-color: #555555;
    padding: 1rem;
    font-size: 4rem;
    text-align: right; 
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    font-family: monospace;
    font-weight: bold;
}

.btn{
    background-color: #555555;
    color: rgb(255, 255, 255);
    border: none;
    padding: 1.5rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;
}

.btn:hover{
    background-color: #444444;
}

#cero{
    grid-column: span 2;
}

#igual{
    grid-row: span 2;
    background-color: #0d6efd;
}

#igual:hover{
    background-color: #444444;
}
